# Frontend
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/*.log
/frontend/*.cache
/frontend/*.tmp
/frontend/*.swp
/frontend/*.swo
/frontend/.DS_Store
/frontend.Thumbs.db
/frontend/.next
/frontend/.pnpm
/frontend/.yarn
/frontend/.pnp
/frontend/.vscode
/frontend/.idea
/frontend/*.sublime-workspace
/frontend/*.sublime-project
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.test
/frontend/.env.production

# Backend
/backend/__pycache__
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/*.pdb
/backend/venv/
/backend/env/
/backend/.env/
/backend/*.env
/backend/*.log
/backend/.vscode/
/backend/.idea/
/backend/*.sublime-workspace
/backend/*.sublime-project
/backend/.DS_Store
/backend.Thumbs.db
/backend/build/
/backend/dist/
/backend/*.egg-info/
/backend/*.egg
/backend/*.wheel
/backend/pip-log.txt
/backend/pip-delete-this-directory.txt

# Docker-specific files
Dockerfile*
docker-compose.yml
docker-compose.override.yml